&.population
  position relative
  float left
  margin-left 190px
  margin-top -140px
  margin-bottom 35px
  h3
  h4
    position absolute
    left 60px
    z-index 2
  h3
    top (@margin-top * -1) + 15
  h4
    top (@margin-top * -1) + 41
  svg
    g.lines
      path
        fill none
      path:nth-child(1)
        stroke ColorRed
        stroke-width 2.5
      path:nth-child(2)
        stroke rgba(ColorBlue, 70%)
        stroke-width 1.5
      path:nth-child(3)
        stroke rgba(black, 20%)
        stroke-width 1
    g.country-names text
      font-size 11px
      text-transform uppercase
      &:nth-child(1)
        fill darken(ColorRed, 20%)
      &:nth-child(2)
        fill ColorBlue
      &:nth-child(3)
        fill lighten(black, 30%)
    .axis
      line
        shape-rendering crispEdges
        stroke #a
      text
        font-size 11px
        fill #6
    rect.fade
      fill rgba(255,255,255,0.7)
    g.interactivity
      rect
        fill transparent
        &:hover
          fill rgba(0,0,0,0.1)
  div.details
    position absolute
    top 225px
    left 590px
    width 200px
    .year
      font-weight 700
      width 120px
    ul
      margin 3px 0px 0px 0px
      list-style none
      position relative
      li
        width 200px
        margin 0px
        position absolute
        transition top 0.4s
        .name
          display inline-block
          width 60px
          float left
        .value
          display inline-block
          b
            font-weight 500
