@import colors
@import prefixes
@import 'components/triangle'
@import fitter

@keyframes narrowIn
  from
    top 0px
    height 20px
  to
    top 5px
    height 10px


#article .ig
  @import basics
  @import migrants
  @import population
#article p.pre-population
  position relative
  z-index 2

#article .ig
  h3
    font-size 16px
    margin 10px 0px
  h4
    font-size 14px
    font-weight 500
    color #4
    margin 6px 0px
