@import colors
@import prefixes
@import 'components/triangle'
@import fitter

@keyframes narrowIn
  from
    top 0px
    height 20px
  to
    top 5px
    height 10px


#article .ig
  @import basics
  @import migrants
  @import population
#article p.pre-population
  position relative
  z-index 2
  background rgba(255,255,255,0.7)
